* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adiciona box-sizing para garantir que padding e border não aumentem o tamanho dos elementos */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --verde: #07FFA6;
    --preto: #2A2A2A;
    --amarelo: #E9C035;
    --corTexto: #3A3A3A;
    --corNome: #A7A7A7;
}

html, body {
    background-color: #fff !important;
    min-height: 100vh; /* Garantir que o body ocupe pelo menos 100% da altura da tela */
    display: flex;
    flex-direction: column; /* Permite que o footer fique na parte inferior */
}

#header {
    background-image: url('../imagens/backgroundTopo.png');
    background-size: 100%;
    padding: 20px 20px;
    height: 356px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    align-items: center;
    padding: 10px;
}

#menu nav ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#menu nav ul li {
    list-style: none;
    font-size: 18px;
    color: #666666;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

#content {
    padding: 65px 40px;
    flex: 1; /* Permite que o conteúdo ocupe o espaço restante */
}

#main {
    background-repeat: no-repeat;
    background-position: bottom left;
}

h1 {
    color: var(--corNome);
    width: 100%;
    text-align: center;
    font-weight: 100;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button {
    background-color: #141208;
    padding: 15px 20px;
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #2A2A2A; /* Cor de fundo ao passar o mouse */
}

footer {
    background-color: #2A2A2A;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    width: 100%;
    /* Removido o 'bottom' aqui, não é necessário */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

