{% extends 'base.html' %}

{% block title %}Adicionar Usuário{% endblock %}

{% block conte %}
    <h1>Adicionar Usuário</h1>
    
    <form action="/usuarios/adicionar" method="POST">
        <label for="user">Nome do Usuário:</label>
        <input type="text" id="user" name="user" required><br>
        
        <label for="sena">Senha:</label>
        <input type="password" id="sena" name="sena" required><br>
        
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" required><br>
        
        <button type="submit">Adicionar</button>
    </form>

    <a href="/usuarios">Voltar à lista de usuários</a>
{% endblock %}
